{% extends "base.html" %}
{% block pagetitle %}Customers{% endblock %}
{% block content %}
<a href="{{ url_for('home') }}">Return to Homepage</a>
{% if selected_customer %}
<div>Customer details</div>
<div>ID: {{selected_customer.id}}</div>
<div>Name: {{selected_customer.name}}</div>
<div>Phone: {{selected_customer.phone}}</div>
<table>
    <tr><th>Incomplete orders</th></tr>
    <tr>
        <th>Order id</th>
        <th>Creation date</th>
    </tr>
    {% for order in selected_customer.list_incomplete_orders() %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.created }}</td>
            <td><a href="{{ url_for('order_detail', id=order.id) }}">Details</a></td>
        </tr>
    {% endfor %}
</table>
<table>
    <tr><th>Completed orders</th></tr>
    <tr>
        <th>Order id</th>
        <th>Creation date</th>
        <th>Completed date</th>
        <th>Amount ($)</th>
    </tr>
    {% for order in selected_customer.list_complete_orders() %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.created }}</td>
            <td>{{ order.completed }}</td>
            <td>{{ order.amount }}</td>
            <td><a href="{{ url_for('order_detail', id=order.id) }}">Details</a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
<table>
    <tr><th>Customers</th></tr>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
    </tr>
    {% for customer in customers %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone }}</td>
            <td><a href="{{ url_for('customer_detail', id=customer.id) }}">Details</a></td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}